:root{
    --background-white-color:#FFFFFF;
    --color-hover:#404BBF;
    --color-main-text:#434455;
    --color-accent:#4D5AE5;
    --color-second-text:#2E2F42;
    --color-second-white: #F4F4FD;

    

}
body{ 
    color: var(--title-text-color);
    background-color: #FFFFFF;

    
    font-family:'Roboto',sans-serif;   
        font-size: 16px;
        line-height: 1.5;  

   
}
.header-logo{
    color: var(--color-second-text);
}
.header-nav-logo{
    color: var(--color-accent);
}
/* main text color #2E2F42 NAVY BLUE */
/* color maim text #434455 SLATE */
/* background #FFFFFF */
/* studio in the footer color #F4F4FD CLOUD */
/* accent color #4D5AE5  IRIS */
/* text in the footer #E7E9FC CORNFLOWER */
/* our team background color #F4F4FD CLOUD */
/* What are we doing background color #E7E9FC CORNFLOWER, #2E2F42 NAVY BLUE 10% */
/* hover, focus color: #404BBF */


/* Site nav */
.site-nav .link {
   color: var(--main-text-color);
   background-color: #E7E9FC;
}
 .header-link:is(:hover,:focus){
    color: var(--main-text-color);
 }

 .header-address-link{
    color: var(--color-main-text);
 }

.header-address-link:is(:hover,:focus){
    color: var(--color-accent);
}

.auth-nav list{
    color: var(--title-text-color);
}

.button-primary {
   
    color: var(--background-white-color);
    background-color: var(--color-accent);
    
            cursor: pointer;
        font-family: inherit;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            border-color: var(--color-accent);
            text-align: center;

}

.button-primary:hover,
.button-primary:focus {
    background-color: var(--color-hover);
    color:var(--background-white-color)
}


.hero-title{
    color: var(--background-white-color);
    background-color: var(--color-second-text);
}

.button-link{
    color: var(--background-white-color);
    background-color: var(--color-accent);
}

.section-title{
    color: var(--main-text-color);
}

/*  */
.-list .title{
    color: var(--main-text-color);
}

.team-title{
    color: var(--main-text-color);
    
}

.page-footer{
    color: #E7E9FC;
    background-color: var(--color-second-text);
}
.footer-logo{
    color: var(--color-accent);
}
.footer-logo-link{
    color: var(--color-second-white);

}