:root{
    --background-white-color:#FFFFFF;
    --color-hover:#404BBF;
    --color-main-text:#434455;
    --color-accent:#4D5AE5;
    --color-second-text:#2E2F42;
    --color-second-white: #F4F4FD;

    

}
body{
    background-color: #FFFFFF;
    color: var(--title-text-color);
}
.header-logo{
    color: var(--main-text-color);
}
.header-nav-logo{
    color: var( --btn-text-color);
}
/* main text color #2E2F42 NAVY BLUE */
/* secondary color #434455 SLATE */
/* title and button color #FFFFFF */
/* studio in the footer color #F4F4FD CLOUD */
/* web two times color #4D5AE5  IRIS */
/* text in the footer #E7E9FC CORNFLOWER */
/* our team background color #F4F4FD CLOUD */
/* What are we doing background color #E7E9FC CORNFLOWER, #2E2F42 NAVY BLUE 10% */
/* hover, focus color: #404BBF */


/* Site nav */
.site-nav .link {
   color: var(--main-text-color);
   background-color: #E7E9FC;
}
 .header-link:is(:hover,:focus){
    color: var(--colovar);
 }
.header-address-link:is(:hover,:focus){
    color: var(--colovar);
}
.auth-nav list{
    color: var(--title-text-color);
}

.hero-title{
    color: var(--background-white-color);
    background-color: var(--color-second-text);
}

.button{
    color: var(--background-white-color);
    background-color: var(--btn-text-color);
}

.section-title{
    color: var(--main-text-color);
}

/*  */
.-list .title{
    color: var(--main-text-color);
}

.team-title{
    color: var(--main-text-color);
    background-color: var(--color-hover);
}

.page-footer{
    color: #E7E9FC;
    background-color: var(--main-text-color);
}
.footer-logo{
    color: var( --btn-text-color);
}
.footer-logo-link{
    color: var(--color-hover);

}